<style>
    /* Ho tro  */

.main-hotro{
    margin-top: 80px;
    width: 100%;
    
}
.home-hotro{
    background-color: #f4f6f8 ;
}
.home-hotro-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}
.main-hotro-map{
    padding: 48px;
}
.main-hotro-input{
    display: block;
}
.main-hotro-text-input{
    width: 580px;
    height: 50px;
    margin: 12px 0;
    padding: 0 12px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}
.main-hotro-text-input-ms{
    height: 150px;
    padding: 12px ;
}
.main-hotro-btn{
    width: 580px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #3fd0d4;
    background-color: #fff;
    color: #3fd0d4;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
.main-hotro-btn:hover{
    background-color: #3fd0d4;
    color: #fff;
}
.main-hotro-contact{
    list-style: none;
}
.main-hotro-item{
    width: 400px;
    height: 100px;
    background-color: #fff;
    margin: 24px 0 24px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}
.hotro-icon{
    font-size: 24px;
    margin: -8px 18px 0 0;
    color: #3fd0d4;
}
.main-hotro-item-hed{
    color: #333;
    font-size: 22px;
}
</style>

<main class="container-main">
  <div class="col col-xl-9 container">   

    <div class="main-hotro">
      <div class="grid wide home-hotro">
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7133.953478538167!2d108.21918257623597!3d16.062886936400137!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142180e92025c71%3A0x53afdde87dd3108d!2zQ2jDqCBMacOqbiAtIENOIEhvw6BuZyBEaeG7h3U!5e0!3m2!1svi!2s!4v1700845716494!5m2!1svi!2s" width="1110" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="main-hotro-map" ></iframe>
          <div class="home-hotro-list">
          <div class="main-hotro-input">
              <input type="text" placeholder="Name"  class="main-hotro-text-input"><br>
              <input type="text" placeholder="Email" class="main-hotro-text-input"><br>
              <textarea type="text"  class="main-hotro-text-input main-hotro-text-input-ms "></textarea><br>
              <button class="main-hotro-btn">Submit</button>
          </div>
      
          <ul class="main-hotro-contact">
            <li class="main-hotro-item">
              <i class="fa-solid fa-phone hotro-icon"></i>
              <div class="main-hotro-item-action">
    
                <h2 class="main-hotro-item-hed">Số điện thoại</h2>
                <a href="" class="footer-link ">+0357325956</a>
              </div>
            </li>
      
            <li class="main-hotro-item">
              <i class="fa-regular fa-envelope hotro-icon"></i>
              <div class="main-hotro-item-action">
    
                <h2 class="main-hotro-item-hed">Email</h2>
                <a href="" class="footer-link "> luongtvpd@gmail.com</a>
              </div>
            </li>
      
            <li class="main-hotro-item">
              <i class="fa-solid fa-location-dot hotro-icon"></i>
              <div class="main-hotro-item-action">
    
                <h2 class="main-hotro-item-hed">Địa chỉ</h2>
                <a href="" class="footer-link "> 79 Tôn Đản</a>
              </div>
            </li>
          </ul>
      </div>
      </div>
      </div>
    
<!-- del time -->
  

  </div>
  


</main>