<style>
    .detail{
       margin-top: 100px;
       padding: 0 100px;
    }
    .detail-img{
        width: 800px;
        height: 700px;
    }
    .detail-tour{
        font-weight: 700;
        margin-top: 40px;
    }
    .detail-title{
        margin-top: 30px;
    }
    .detail-title-hed{
        font-size: 18px;
        color: #505050;
    }
    .detail-title-sub{
        margin-top: 30px;
        display: block;
        color: #505050;
        font-size: 16px;
    }
    .detail-title-primary{
        color: #41a9b0;
        margin-top: 30px;
    }
    .detail-title-action{
        margin-top: 40px;
    }
    .detail-title-action-img{
        width: 300px;
        height: 300px;
    }
    .detail-title-action-img-size{
        width: 580px;
        height: 300px;
        margin-left: 30px;
   }
</style>

<div class="detail container">
    <img class="detail-img" src="https://setsail.qodeinteractive.com/wp-content/uploads/2016/09/blog-img-12.jpg" alt="" >
    <h1 class="detail-tour">
        Amazing Tour
    </h1>
    <div class="detail-title">
        <span class="detail-title-hed">
        Si elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. Tn eam dimo diam ea. Piber Korem sit amet. Cconsequat tin sit, stet cibo blandit.
        </span>
        <span class="detail-title-sub">Al elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. En eam dico similique, ut sint posse sit, eum sumo diam ea. Liber consectetuer in mei, sea in imperdiet assueverit contentiones, an his cibo blandit tacimates. Iusto iudicabit similique id velex, in sea rebum deseruisse appellantur. Lorem ipsum Alienum phaedrum torquatos nec eu, vis detraxit pericu in mei, vix aperiri vix at,dolor sit amet. blandit dicant definition.Sit delicata persequeris ex, in sea rebum deseruisse appellantur. Lorem ipsum dolor sit amet.Eos ei nisl graecis, vix aperiri consequat an. Eius lorem.</span>
        <h5 class="detail-title-primary">“Ei elit omnes impedit ius, vel et hinc agam fabulas. Ut audiamre iracundia vim. An eame, ut sint posse sumo diam ea. Cu omnis.”</h5>
        <span class="detail-title-sub">Ei elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. An eam dico similique, ut sint posse sit, eum sumo diam ea. Liber consectetuer in mei, sea in imperdiet assueverit contentiones, an his cibo blandit tacimates. Iusto iudicabit similique idefinitionem eos an.Sit delicata persequeris ex, in sea rebum deseruisse appellantur. Lorem ipsum dolor si vix aperiri consequat an.</span>
        <div class="detail-title-action">
            <img class="detail-title-action-img" src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/blog-img-10.jpg" alt="" >
            <img class="detail-title-action-img detail-title-action-img-size" src="	https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/blog-img-22-1300x650.jpg" alt="" >
        </div>
          <span class="detail-title-sub">Ei elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. An eam dico similique, ut sint posse sit, eum sumo diam ea. Liber consectetuer in mei, sea in imperdiet assueverit contentiones, an his cibo blandit tacimates. Iusto iudicabit similique idefinitionem eos an.Sit delicata persequeris ex, in sea rebum deseruisse appellantur. Lorem ipsum dolor si vix aperiri consequat an.</span>
    </div>
</div>